<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scalable=1.0, minimum-scalable=1.0">
    <title>webpack</title>
    <script type="text/javascript"><%= require('!!raw-loader?esModule=false!babel-loader!../node_modules/lib-flexible/flexible') %></script>
</head>
<body>
<div id="root">

</div>
</body>
</html>